
  .loginBox {
    width: 450px;
    align-items: left;
    text-align: left;
    position: relative;
    left: 50%;
    height: 430px;
    transform: translate(-50%, 20%);
    padding: 30px;
    /* border: 2px solid #9db7e4; */
    border-radius: 10px;
    background-color:white;
    /* background-color: rgba( 255, 255, 255, 0 ); */
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0);
    
  }

  .text1{
    position: absolute;
    width:390px;
    top:90px;
  }

  .text2{
    position: absolute;
    top:170px;
    width:390px;
  }

  .avatar{
    align-items: center;
    /* position: absolute; */
  }

  .signInBox {
    /* position: absolute; */
    text-align: center;
    margin: 5px 0 10px 0;
  }

  .signInSubmit {
    position: relative;
    top: 150px;
    /* height: 150px; */
    /* width:390px; */
    margin: 20px 0 10px 0;
    
  }

  .rememberMe {
    position: relative;
    top: 155px;
    margin: 20px 0 10px 0;  
  }

  .forgotPassword {
    position: relative;
    top: 145px;
    margin: 20px 0 10px 0;  
  }

  .copyright {
    position: relative;
    top: 155px;
    margin: 20px 0 10px 0;  
  }
  
  @media screen and (max-width: 550px) {
    .loginBox {
      width: 50%;
      
    }
  }
  