.hoveringButton{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align:center;
    line-height:30px;
    width:100%;
  }
  .hoveringButton:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .hoveringButton:before, .hoveringButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .hoveringButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .hoveringButton:hover:before, .hoveringButton:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .hoveringButton:visited{
    background:#fff;
    color:#1AAB8A;
  }